{% extends "yls_app/base.html" %}

{% block title %} 话题结果 {% endblock %}

{% block content %}

<div class="row">
 <div class="col-md-8">
	<div class="panel panel-primary">
	  <!-- Default panel contents -->
	  <div class="panel-heading">商品类别
	  </div>
	  <!-- Table -->
	  <table class="table" border="2" id="">
{% for one_cate in categories %}
	    <tr>            
	      <th>{{one_cate.0}}</th>
	      <th>{{one_cate.1.0}}</th>     
	      <th>{{one_cate.1.1}}</th>     
	      <th><a class="btn btn-primary" href='/yls_app/view_goods_by_cate?category={{one_cate.1.0}}' type="button">查看商品</a></th>
	    </tr>
{% endfor %}
	  </table>
	</div>
	<br><br>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}

